# PostgreSQL
DATABASE_USERNAME="ai-picture"
DATABASE_PASSWORD="ai-picture"
DATABASE_NAME="ai-picture"
DATABASE_PORT="5432"
DATABASE_URL="postgres://ai-picture:ai-picture@postgres:5432/ai-picture"

# MinIO
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_ROOT_USER="ai-picture"
MINIO_ROOT_PASSWORD="ai-picture"
MINIO_BUCKET="ai-picture"

# Dragonfly
DRAGONFLY_URL="redis://dragonfly:6379"
DRAGONFLY_PORT="6379"

# Better Auth
BETTER_AUTH_SECRET="f0eOv6l30duP5QiZ4Fm2OBTmCvJxxKaB" # openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000"

# OpenRouter
OPENROUTER_API_KEY="sk-or-v1-XXXXXX"
OPENROUTER_HTTP_REFERER="http://localhost:3000"
OPENROUTER_APP_TITLE="ai-picture"

# OpenAI
OPENAI_API_KEY=""
