# PostgreSQL
DATABASE_USERNAME="airtist"
DATABASE_PASSWORD="airtist"
DATABASE_NAME="airtist"
DATABASE_PORT="5432"
DATABASE_URL="postgres://airtist:airtist@localhost:5432/airtist"

# MinIO
MINIO_ENDPOINT="http://localhost:9000"
MINIO_PUBLIC_ENDPOINT="http://localhost:9000"
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_REGION="us-east-1"
MINIO_ACCESS_KEY="airtist"
MINIO_SECRET_KEY="airtist"
MINIO_BUCKET="airtist"

# Dragonfly
DRAGONFLY_URL="redis://localhost:6379"
DRAGONFLY_PORT="6379"

# Better Auth
BETTER_AUTH_SECRET="f0eOv6l30duP5QiZ4Fm2OBTmCvJxxKaB" # openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000"

# OpenRouter
OPENROUTER_API_KEY="sk-or-v1-XXXXXX"
OPENROUTER_HTTP_REFERER="http://localhost:3000"
OPENROUTER_APP_TITLE="airtist"
